<div class="footer">
     <p>人大深圳读研教育官网</p>
     <p>Copyright@2010-2019 津ICP备18009312号-1</p>
</div>
<footer>
<div class="red"></div>
<ul class="flex">
    <li><a href="">在线报名</a></li>
    <li><a href="">电话咨询</a></li>
    <li><a href="">在职校友</a></li>
    <li><a href="">立即分享</a></li>
</ul>
</footer>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?25eeec0e6245e727352c966e9e222557";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>