<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>人民大学首页</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">

    <link href="styleUrl/css/px2rem.css" rel="stylesheet">
    <link href="styleUrl/css/swiper.min.css" rel="stylesheet">
    <link href="styleUrl/css/iconfont.css" rel="stylesheet">
    <script src="styleUrl/js/flexible_css.debug.js"></script>
    <script src="styleUrl/js/flexible.debug.js"></script>
</head>
<body>
    <div class="container index">
        <div class="header clearfix">
            <div class="left fl">
                <img src="styleUrl/images/logo_renda.png" alt="" class="img-responsive">
            </div>
            <div class="right fl" >
                <img src="styleUrl/images/logo_duyan.png" alt="" class="img-responsive">
            </div>
            <p class="fl">读研教育深圳中心</p>
        </div>
        <div id="head-nav" class="swiper-container dy-sch-nav">
          {include file="public:head" /}
        </div>
        <div class="banner">
            <img src="styleUrl/images/banner.jpg" alt="" class="img-responsive">
        </div>
        <div class="part1">
            <div class="title">
                <span></span>
                活动公告
                <a href="">更多></a>
            </div>
            <ul>
                <li class="flex">
                    <div class="left">

                    </div>
                    <div class="right">
                        <h3>想解决人生大事，从加入人大校友会俱乐部开始！</h3>
                        <a href="" class="ellipsis">内容调用内容调用内容调用内容调用内容调用内容调用内...</a>
                    </div>
                </li>
                <li class="flex">
                    <div class="left">
                        
                    </div>
                    <div class="right">
                        <h3>想解决人生大事，从加入人大校友会俱乐部开始！</h3>
                        <a href="" class="ellipsis">内容调用内容调用内容调用内容调用内容调用内容调用内...</a>
                    </div>
                </li>
                <li class="flex">
                    <div class="left">
                        
                    </div>
                    <div class="right">
                        <h3>想解决人生大事，从加入人大校友会俱乐部开始！</h3>
                        <a href="" class="ellipsis">内容调用内容调用内容调用内容调用内容调用内容调用内...</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="part2">
            <div class="title">
                <span></span>
                同学新闻
                <a href="">更多></a>
            </div>
            <ul class="flex">
                <li>
                    <a href=""><img src="styleUrl/images/pic1.jpg" alt="" class="img-responsive"></a>
                    <p><a href="">以经济学的眼睛看，世界更奇趣</a></p>
                </li>
                <li>
                    <a href=""><img src="styleUrl/images/pic2.jpg" alt="" class="img-responsive"></a>
                    <p><a href="">数字经济重构全球产业发展格局 潜力巨大</a></p>
                </li>
            </ul>
            <div class="con">
                <p class="flex">
                    <i class="iconfont">&#xe600;</i>
                    <a href="" class="ellipsis">首届全国高校思想政治理论课建设高端论坛在...</a>
                </p>
                <p class="flex">
                    <i class="iconfont">&#xe600;</i>
                    <a href="" class="ellipsis">首届全国高校思想政治理论课建设高端论坛在...</a>
                </p>
                <p class="flex">
                    <i class="iconfont">&#xe600;</i>
                    <a href="" class="ellipsis">首届全国高校思想政治理论课建设高端论坛在...</a>
                </p>
            </div>
        </div>
        <div class="part3">
            <div class="title">
                <span></span>
                活动图片
                <a href="">更多></a>
            </div>
            <div class="con flex">
                <div class="left">
                    <img src="styleUrl/images/huo1.jpg" alt="" class="img-responsive">
                </div>
                <div class="right">
                    <img src="styleUrl/images/huo2.jpg" alt="" class="img-responsive">
                    <img src="styleUrl/images/huo3.jpg" alt="" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="gray"></div>
        <div class="part4">
            <div class="hd">
              <ul class="flex tab">
                <li class="on">招生信息</li>
                <li class="">双证硕士</li>
                <li class="">管理智库</li>
                <li class="">企业内训</li>
              </ul>
            </div>
            <div class="bd">
                <ul class="show">
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                </ul>
                <ul>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">22222</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                </ul>
                <ul>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">3333</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                </ul>
                <ul>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">444</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                    <li class="flex">
                        <span></span>
                        <a href="" class="ellipsis">中国人民大学国学院国学专业文史哲方向招生简章</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gray"></div>
        <div class="part5">
            <div class="title">
                <span></span>
                院校资讯
                <a href="">更多></a>
            </div>
            <div class="zixun flex">
                <div class="left">
                    <a href=""><img src="styleUrl/images/zixun.jpg" alt="" class="img-responsive"></a>
                </div>
                <div class="right">
                    <p><a href="">北京市第十五届哲学社会科学优秀成果奖揭晓</a></p>
                    <span>2019-05-22</span>
                </div>
            </div>
            <div class="con">
                <p class="flex">
                    <i class="iconfont">&#xe600;</i>
                    <a href="" class="ellipsis">首届全国高校思想政治理论课建设高端论坛在...</a>
                </p>
                <p class="flex">
                    <i class="iconfont">&#xe600;</i>
                    <a href="" class="ellipsis">首届全国高校思想政治理论课建设高端论坛在...</a>
                </p>
                <p class="flex">
                    <i class="iconfont">&#xe600;</i>
                    <a href="" class="ellipsis">首届全国高校思想政治理论课建设高端论坛在...</a>
                </p>
            </div>
        </div>
        <div class="gray"></div>
        <div class="part6">
            <div class="title">
                <span></span>
                师资介绍
                <a href="">更多></a>
            </div>
            <ul class="flex">
                <li>
                    <a href=""><img src="styleUrl/images/te1.png" alt="" class="img-responsive"></a>
                    <p><a href="">左美云</a></p>
                    <small>信息学院教授</small>
                </li>
                <li>
                    <a href=""><img src="styleUrl/images/te2.png" alt="" class="img-responsive"></a>
                    <p><a href="">陈璇</a></p>
                    <small>法学院法学博士</small>
                </li>
                <li>
                    <a href=""><img src="styleUrl/images/te3.png" alt="" class="img-responsive"></a>
                    <p><a href="">朱虎</a></p>
                    <small>法学院副教授</small>
                </li>
            </ul>
        </div>
        <div class="gray"></div>
        <div class="part7">
            <div class="title">
                <span></span>
                课程试听
                <a href="">更多></a>
            </div>
            <ul>
                <li class="flex">
                    <div class="left">
                        <img src="styleUrl/images/shi1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="right">
                        <p>MBA、EMBA名校零风险班(提前面试课程体系)</p>
                        <p><a href=""><i class="iconfont">&#xe603;</i>预约试听</a><span>已有2389人试听</span></p>
                    </div>
                </li>
                <li class="flex">
                    <div class="left">
                        <img src="styleUrl/images/shi1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="right">
                        <p>MBA、EMBA名校零风险班(提前面试课程体系)</p>
                        <p><a href=""><i class="iconfont">&#xe603;</i>预约试听</a><span>已有2389人试听</span></p>
                    </div>
                </li>
                <li class="flex">
                    <div class="left">
                        <img src="styleUrl/images/shi1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="right">
                        <p>MBA、EMBA名校零风险班(提前面试课程体系)</p>
                        <p><a href=""><i class="iconfont">&#xe603;</i>预约试听</a><span>已有2389人试听</span></p>
                    </div>
                </li>
            </ul>
        </div>
        <footer>
            {include file="public:foot" /}
        </footer>
    </div>
    <script src="styleUrl/js/jquery-1.8.3.min.js"></script>
    <script src="styleUrl/js/swiper.min.js"></script>
    <script src="styleUrl/js/index.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?25eeec0e6245e727352c966e9e222557";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</body>
</html>


