<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>人民大学首页</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">

    <link href="__PUBLIC__/css/px2rem.css" rel="stylesheet">
    <link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/iconfont.css" rel="stylesheet">
    <script src="__PUBLIC__/js/flexible_css.debug.js"></script>
    <script src="__PUBLIC__/js/flexible.debug.js"></script>
</head>
<body>
    <div class="container index">
        {include file="public:head" /}
        <div id="head-nav" class="swiper-container dy-sch-nav">
            <ul class="swiper-wrapper ">
                <li class="swiper-slide item active"><a href="/">首页</a></li>
                {foreach name="colimuResult" as item="colimuValue"}
                    <li class="swiper-slide item"><a href="{$colimuValue.column_url}">{$colimuValue.name}</a></li>
                {/foreach}
            </ul>
        </div>
        <div class="banner">
            <img src={$bannerPictureUrl} alt="" class="img-responsive">
        </div>
        <div class="part1">
            <div class="title">
                <span></span>
                活动公告
                <a href="/hdgg/">更多></a>
            </div>
            <ul>
                {foreach name="activityResult" as item="activityValue"}
                    <li class="flex">
                        <div class="left">
                        </div>
                        <div class="right">
                            <h3><a href="/hdgg/{$activityValue.id}.html" class="ellipsis">{$activityValue.name}</a></h3>
                            <a href="/hdgg/{$activityValue.id}.html" class="ellipsis">{$activityValue.content|html_entity_decode=###}</a>
                        </div>
                    </li>
                {/foreach}
            </ul>
        </div>
        <div class="part2">
            <div class="title">
                <span></span>
                同学新闻
                <a href="/txxw/">更多></a>
            </div>
            <ul class="flex">
                {foreach name="classMateResult" as item="classMateValue"}
                    {if $classMateValue.is_url == 1}
                        <li>
                            <a href="/txxw/{$classMateValue.id}.html"><img src="{$classMateValue.picture_url}" alt="" class="img-responsive"></a>
                            <p><a href="/txxw/{$classMateValue.id}.html">{$classMateValue.name}</a></p>
                        </li>
                    {/if}
                {/foreach}
            </ul>
            <div class="con">
                {foreach name="classMateResult" as item="classMateValue"}
                    {if $classMateValue.is_url == 0}
                        <p class="flex">
                            <i class="iconfont">&#xe600;</i>
                            <a href="/txxw/{$classMateValue.id}.html" class="ellipsis">{$classMateValue.name}</a>
                        </p>
                    {/if}
                {/foreach}
            </div>
        </div>
        <div class="part3">
            <div class="title">
                <span></span>
                活动图片
                <a href="/hdtp/">更多></a>
            </div>
            <div class="con flex">
                <div class="left">

                        {if isset($pictureResult[0]['picture_url'])}
                            <img src="{$pictureResult[0]['picture_url']}" alt="" class="img-responsive">
                        {/if}

                </div>
                <div class="right">

                        {if isset($pictureResult[1]['picture_url'])}
                        <img src="{$pictureResult[1]['picture_url']}" alt="" class="img-responsive">
                        {/if}
                        {if isset($pictureResult[2]['picture_url'])}
                            <img src="{$pictureResult[2]['picture_url']}" alt="" class="img-responsive">
                        {/if}

                </div>
            </div>
        </div>
        <div class="gray"></div>
        <div class="part4">
            <div class="hd">
              <ul class="flex tab">
                <li class="on">招生信息</li>
                <li class="">双证硕士</li>
                <li class="">管理智库</li>
                <li class="">企业内训</li>
              </ul>
            </div>
            <div class="bd">
                <ul class="show">
                    {foreach name="recruitStudentResult" as item="recruitStudentValue"}
                        <li class="flex">
                            <span></span>
                            <a href="/zsxx/{$recruitStudentValue.id}.html" class="ellipsis">{$recruitStudentValue.name}</a>
                        </li>
                    {/foreach}
                    <div class="title">
                        <a href="/zsxx/">更多></a>
                    </div>
                </ul>
                <ul>
                    {foreach name="sasuResult" as item="sasuValue"}
                        <li class="flex">
                            <span></span>
                            <a href="/szss/{$sasuValue.id}.html" class="ellipsis">{$sasuValue.name}</a>
                        </li>
                    {/foreach}
                    <div class="title">
                        <a href="/szss/">更多></a>
                    </div>
                </ul>
                <ul>
                    {foreach name="administrationResult" as item="administrationValue"}
                        <li class="flex">
                            <span></span>
                            <a href="/glzk/{$administrationValue.id}.html" class="ellipsis">{$administrationValue.name}</a>
                        </li>
                    {/foreach}
                    <div class="title">
                        <a href="/glzk/">更多></a>
                    </div>
                </ul>
                <ul>
                    {foreach name="enterpriseResult" as item="enterpriseValue"}
                        <li class="flex">
                            <span></span>
                            <a href="/qynx/{$enterpriseValue.id}.html" class="ellipsis">{$enterpriseValue.name}</a>
                        </li>
                    {/foreach}
                    <div class="title">
                        <a href="/qynx/">更多></a>
                    </div>
                </ul>
            </div>
        </div>
        <div class="gray"></div>
        <div class="part5">
            <div class="title">
                <span></span>
                院校资讯
                <a href="/yxzx/">更多></a>
            </div>
            {foreach name="collegesResult" as item="collegesValue"}
                {if $collegesValue.is_url == 1}
                    <div class="zixun flex">
                        <div class="left">
                            <a href="/yxzx/{$collegesValue.id}.html"><img src="{$collegesValue.picture_url}" alt="" class="img-responsive"></a>
                        </div>
                        <div class="right">
                            <p><a href="/yxzx/{$collegesValue.id}.html">{$collegesValue.name}</a></p>
                            <span>{$collegesValue.create_time}</span>
                        </div>
                    </div>
                {/if}
            {/foreach}
            <div class="con">
                {foreach name="collegesResult" as item="collegesValue"}
                    {if $collegesValue.is_url == 0}
                        <p class="flex">
                            <i class="iconfont">&#xe600;</i>
                            <a href="/yxzx/{$collegesValue.id}.html" class="ellipsis">{$collegesValue.name}</a>
                        </p>
                    {/if}
                {/foreach}
            </div>
        </div>
        <div class="gray"></div>
        <div class="part6">
            <div class="title">
                <span></span>
                师资介绍
                <a href="/szjs/">更多></a>
            </div>
            <ul class="flex">
                {foreach name="teachersResult" as item="teachersValue"}
                    <li>
                        <img src="{$teachersValue.picture_url}" alt="" class="img-responsive">
                        <p>{$teachersValue.name}</p>
                        <small>{$teachersValue.content}</small>
                    </li>
                {/foreach}
            </ul>
        </div>
        <div class="gray"></div>
        <div class="part7">
            <div class="title">
                <span></span>
                课程试听
                <a href="/kcst/">更多></a>
            </div>
            <ul>
                {foreach name="courseAuditionResult" as item="courseAuditionValue"}
                    <li class="flex">
                        <div class="left">
                            <img src="{$courseAuditionValue.picture_url}" alt="" class="img-responsive">
                        </div>
                        <div class="right">
                            <p>{$courseAuditionValue.name}</p>
                            <p><a href="/kcst/{$courseAuditionValue.id}.html"><i class="iconfont">&#xe603;</i>预约试听</a><span>已有{$courseAuditionValue.audition_count}人试听</span></p>
                        </div>
                    </li>
                {/foreach}
            </ul>
        </div>

       {include file="public:foot" /}
    </div>
    <script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
    <script src="__PUBLIC__/js/swiper.min.js"></script>
    <script src="__PUBLIC__/js/index.js"></script>

</body>
</html>
