
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理智库</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">

    <link href="__PUBLIC__/css/px2rem.css" rel="stylesheet">
    <link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/iconfont.css" rel="stylesheet">
    <script src="__PUBLIC__/js/flexible_css.debug.js"></script>
    <script src="__PUBLIC__/js/flexible.debug.js"></script>
</head>
<body>
<div class="container">
    {include file="public:head" /}
    <div class="clearfix"></div>
    <div class="breadcrumb">
        <a href="/">首页</a> > <a href="#">{$colimuResult[0]['name']}</a>
    </div>
    <div class="hdtp">
        <div class="title">
            <span></span>
            活动图片
        </div>
        <ul class="flex flex-wrap">
            {foreach name="articleResult" as item="articleValue"}
                <li>
                    <img src="__PUBLIC__/{$articleValue.picture_url}" alt="">
                </li>
            {/foreach}
        </ul>
    </div>
    <div class="pagination flex">
        {if $page <= 1}
        <a href="javascript:void(0)" class="pre">上一页</a>
        {/if}
        {if $page > 1}
        <a href="/colleges/{$colimuResult[0]['id']}/{$page-1}" class="pre"  style="color: #9f0000">上一页</a>
        {/if}
        {if $page >= $countPage}
        <a href="javascript:void(0)" class="pre">下一页</a>
        {/if}
        {if $page >= 1 &&  $countPage > $page}
        <a href="/colleges/{$colimuResult[0]['id']}/{$page+1}" class="pre"  style="color: #9f0000">下一页</a>
        {/if}
    </div>
    {include file="public:foot" /}
</div>
<div class="bigimg">
    <img src="" alt="">
</div>
<script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
<script>
    var piclist = $('.hdtp ul li');
    piclist.click(function(){
        var index = $(this).index();
        var thisSrc = $(this).find('img').attr('src');
        $('.container').hide();
        $('.bigimg').find('img').attr('src',thisSrc);
        $('.bigimg').show();
    })
    $('.bigimg img').click(function(){
        $('.bigimg').hide();
        $('.container').show();
    })
</script>
</body>
</html>
