<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>师资介绍</title>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">

    <link href="__PUBLIC__/css/px2rem.css" rel="stylesheet">
    <link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/iconfont.css" rel="stylesheet">
    <script src="__PUBLIC__/js/flexible_css.debug.js"></script>
    <script src="__PUBLIC__/js/flexible.debug.js"></script>
</head>
<body>
<div class="container">
    {include file="public:head" /}
    <div class="clearfix"></div>
    <div class="breadcrumb">
        <a href="/">首页</a> > <a href="#">{$colimuResult[0]['name']}</a>
    </div>
    <div class="szjs">
        <div class="title">
            <span></span>
            师资介绍
        </div>
        <ul>
            {foreach name="articleResult" as item="articleValue"}
                <li class="flex">
                    <div class="left">
                        <img src="{$articleValue.picture_url}" alt="" class="img-responsive">
                    </div>
                    <div class="right">
                        <p><a href="">{$articleValue.name}</a></p>
                        <p><a href="">{$articleValue.content|html_entity_decode=###}</a></p>
                    </div>
                </li>
            {/foreach}
        </ul>
    </div>
    <div class="pagination flex">
        {if $page <= 1}
        <a href="javascript:void(0)" class="pre">上一页</a>
        {/if}
        {if $page > 1}
        <a href="{$columnUrl}{$colimuResult[0]['id']}/{$page-1}" class="pre"  style="color: #9f0000">上一页</a>
        {/if}
        {if $page >= $countPage}
        <a href="javascript:void(0)" class="pre">下一页</a>
        {/if}
        {if $page >= 1 &&  $countPage > $page}
        <a href="{$columnUrl}{$colimuResult[0]['id']}/{$page+1}" class="pre"  style="color: #9f0000">下一页</a>
        {/if}
    </div>
    {include file="public:foot" /}
</div>
<script src="__PUBLIC__/js/jquery-1.8.3.min.js"></script>
</body>
</html>
